.content{
    .title{
        
            padding: 30px;
            margin-top: 10px;
            background: #9c9c9c;
        
    }
        h1{
            text-align: center;
            padding: 20px 0px;
        }
    .d-flex{
        display: flex;
        margin-bottom: 10px;
    }
    .motor{
        flex: 40%;
        background: #d3d3d3;
    }
    .monitor{
        flex: 60%;
        border-left: 1px solid grey;
        background: #d3d3d3;
    }
}